<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/post_view.css">
    <link rel="icon" type="image/png" href="/static/favicon/favicon16.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon32.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon96.png">
</head>
<body>
<div class="container">
     <!-- Header -->
      <header class="header">
            <!-- Левая часть: Логотип -->
            <div class="logo">
                <a href="/">
                    <img src="/static/img/logo.png" alt="Logo" class="logo-image">
                </a>
            </div>
            <!-- Правая часть: Меню пользователя -->
            <div class="user-menu">
                <!-- Иконка для создания поста -->
                <div class="create-post">
                    <a href="/create-posts">
                        <img src="/static/img/create_post.png" alt="Create Post" class="icon-plus">
                    </a>
                </div>
                <div class="create-post">
                    <a href="/chat">
                        <img src="/static/img/chat.png" alt="Chat" class="icon-plus">
                    </a>
                </div>
                <!-- Профиль пользователя -->
                <div class="profile">
                    <div class="profile-container" onclick="toggleDropdown()">
                        <div class="profile-icon">
                            <img src="/static/img/profile.png" alt="User Avatar">
                        </div>
                        <span class="user-name">{{.CurrentUser}}</span>
                    </div>
                    <!-- Выпадающее меню -->
                    <div class="dropdown-menu" id="dropdown-menu">
                        <button class="dropdown-item" onclick="window.location.href='https://www.youtube.com/watch?v=obmlZH3X9gs'">Secret Button</button>
                        <button class="dropdown-item" onclick="window.location.href='/sign-out'">Sign Out</button>
                    </div>
                </div>
            </div>
        </header>
    <!-- Content -->
    <div class="content">
         <!-- Основная часть (пост и комментарии) -->
        <!-- Основной контент -->
<main class="feed">
    <div class="post">
        <div class="post-category">{{ .CategoryTitle }}</div>
        <h2 class="post-title">{{ .Title }}</h2>
        <div class="post-content">{{ .Content }}</div>
        <div class="post-details">
            <span class="post-author">Author: {{.Author}}</span>
            <span class="post-date">Date: {{.CreatedAt}}</span>
        </div>
        <a href="/posts-delete?post_id={{.Id}}" class="delete-post-button">Delete Post</a>

        <div class="comments-section">
            <h4>Comments ({{.CountOfPostComments}})</h4>
            {{ range .PostComments}}
                <div class="comment">
                    <div class="comment-header">
                        <span class="comment-author">Author: {{.Author}}</span>
                        <span class="comment-date">Date: {{.CreatedAt}}</span>
                    </div>
                    <div class="comment-content">{{ .Content }}</div>
                    <a href="/comments-delete?comment_id={{.Id}}" class="delete-comment-button">Delete Comment</a>
                </div>
            {{else}}
                <p>No Comments</p>
            {{end}}
        </div>

        <form id="create-comment" action="/comments" method="POST">
            <input type="hidden" value="{{.Id}}" id="comment-post_id" name="comment-post_id">
            <label for="comment-content">Add a new comment</label>
            <textarea id="comment-content" name="comment-content" rows="5" placeholder="Enter your comment content" required></textarea>
            <button type="submit">Among ASS</button>
        </form>
    </div>
</main>
        <!-- Правый сайдбар (Пользователи онлайн) -->
        <aside class="users-sidebar">
            <div class="user">
                <div class="user-avatar"></div>
                <span class="user-name">{{.CurrentUser}}</span>
                <span class="status-dot online"></span>
            </div>
            <!-- Добавьте других пользователей здесь -->
        </aside>
    </div>
</div>

<script>
    function toggleDropdown() {
        const dropdownMenu = document.getElementById('dropdown-menu');
        dropdownMenu.style.display = (dropdownMenu.style.display === 'flex') ? 'none' : 'flex';
    }

    // Закрытие меню при клике вне его области
    window.onclick = function(event) {
        const dropdownMenu = document.getElementById('dropdown-menu');
        const profileContainer = document.querySelector('.profile-container');

        if (!dropdownMenu.contains(event.target) && !profileContainer.contains(event.target)) {
            dropdownMenu.style.display = 'none';
        }
    }
</script>
</body>
</html>
