<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="icon" type="image/png" href="/static/favicon/favicon16.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon32.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon96.png">
    <title>{{.Title}}</title>
</head>
<body>
<div class="container">
     <!-- Header -->
      <header class="header">
            <!-- Левая часть: Логотип -->
            <div class="logo">
                <a href="/">
                    <img src="/static/img/logo.png" alt="Logo" class="logo-image">
                </a>
            </div>
            <!-- Правая часть: Меню пользователя -->
            <div class="user-menu">
                <!-- Иконка для создания поста -->
                <div class="create-post">
                    <a href="/create-posts">
                        <img src="/static/img/create_post.png" alt="Create Post" class="icon-plus">
                    </a>
                </div>
                <!-- Профиль пользователя -->
                <div class="profile">
                    <div class="profile-container" onclick="toggleDropdown()">
                        <div class="profile-icon">
                            <img src="/static/img/profile.png" alt="User Avatar">
                        </div>
                        <span class="user-name">{{.CurrentUser}}</span>
                    </div>
                    <!-- Выпадающее меню -->
                    <div class="dropdown-menu" id="dropdown-menu">
                        <button class="dropdown-item" onclick="window.location.href='https://www.youtube.com/watch?v=obmlZH3X9gs'">Secret Button</button>
                        <button class="dropdown-item" onclick="window.location.href='/sign-out'">Sign Out</button>
                    </div>
                </div>
            </div>
        </header>
    <!-- Content -->
    <div class="content">
         <!-- Left Sidebar (Category Selector) -->
        <main class="feed">
            <div class="post">
                <div class="post-category">{{ .CategoryTitle }}</div>
                <h2 class="post-title">{{ .Title }}</h2>
                <p class="post-content">{{ .Content }}</p>
                <h4 class="post-comments">Author: {{.Author}}</h4>
                <h5 class="post-comments">Date Time: {{.CreatedAt}}</h5>
                <a href="/posts-delete?post_id={{.Id}}">
                    <h3 style="color:crimson;">Delete Post</h3>
                </a>
                <br><h4 style="color:aqua; padding: 4px;">Comments ({{.CountOfPostComments}})</h4>
                {{ range .PostComments}}
                    <div class="comment">
                        <h4 class="post-comments">Author: {{.Author}}</h4>
                        <p class="post-content">{{ .Content }}</p>
                        <h5 class="post-comments">Date Time: {{.CreatedAt}}</h5><br>
                        <a href="/comments-delete?comment_id={{.Id}}">
                            <h4 style="color: red;">Delete Comment</h4>
                        </a>
                    </div>

                {{else}}
                    <p>No Comments</p>
                {{end}}
                <form id="create-comment" action="/comments" method="POST">
                    <input type="hidden" value="{{.Id}}" id="comment-post_id" name="comment-post_id">
                    <label for="comment-content"><b>A new comment</b></label><br>
                    <textarea id="comment-content" name="comment-content" rows="5" placeholder="Enter your comment content" required></textarea>
                    <br><button class="comment-button" type="submit">Add comment</button>
                </form>
            </div>
        </main>
        <!-- Right Sidebar (Users Online) -->
        <aside class="users-sidebar">
            <div class="user">
                <div class="user-avatar"></div>
                <span class="user-name">{{.Author}}</span>
                <span class="status-dot online"></span>
            </div>
            <!-- Add more users here -->
        </aside>
    </div>
</div>

<script>
    function toggleDropdown() {
        const dropdownMenu = document.getElementById('dropdown-menu');
        dropdownMenu.style.display = (dropdownMenu.style.display === 'flex') ? 'none' : 'flex';
    }

    // Закрытие меню при клике вне его области
    window.onclick = function(event) {
        const dropdownMenu = document.getElementById('dropdown-menu');
        const profileContainer = document.querySelector('.profile-container');

        if (!dropdownMenu.contains(event.target) && !profileContainer.contains(event.target)) {
            dropdownMenu.style.display = 'none';
        }
    }
</script>
</body>
</html>